@media (max-width: 800px) {
  .header{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header-logo > img{
    height: 30px;
  }

  .header-hooks{
    display: none;
  }

  .header-logo{
    padding: 0;
  }

  #about{
    display: block;
    padding-top: 2em;
  }

  .card{
    width: 100%;
    height: auto;
    padding: 0 0 20px 0;
  }

  .card-content{
    padding: 1.5em;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
  }

  .presentation{
    font-size: 20px;
  }

  .section-title{
    font-size: 20px;
    margin-bottom: 1em;
  }

  .selfie-pic{
    height: 150px;
  }

  .text-presentation{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    align-items: center ;
  }

  .text-presentation > div > p{
    margin: 1em 0;
    font-size: 14px;
  }

  .about-picture-sec{
    margin: 1em;
    height: auto;
  }

  .about-sec-layout > div{
    width: 100%;
  }

  .about-picture-sec > span{
    font-size: 18px;
  }

  #skills{
    height: auto;
  }

  .skill-list{
    width: 80%;
  }

  .skill-list-wrapper{
    grid-template-columns: 1fr;
  }

  .skill-list-element > span{
    font-size: 14px;
  }

  .skills-icons{
    font-size: 14px;
  }

  .github-achievments > img{
    width: 300px;
    height: auto;
  }

  .github-achievments{
    margin-top: 1em;
  }

  .project-card{
    width: 100%;
  }
  
  #education{
    height: auto;
  }

  .section-wrapper{
    flex-direction: column;
  }

  .education-text{
    width: 60%;
    padding-left: 0;
  }

  .foto-orc{
    width: 340px;
    margin-top: 2rem;
  }

  .education-img{
    height: auto;
    width: 100%;
  }

  #contactme{
    height: calc(100vh - 140px);
    margin: 0;
  }

  .contact > div{
    height: 80%;
  }

  .contact > div > div{
    height: 100%;
  }
  
  .gif-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .gif-cat{
    display: none;
  }
  footer span{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  footer span, footer span a{
    font-size: 9px;
  }

  section{
    height: calc(100vh);
    margin-bottom: 1em;
    padding-top: 1em;
  }
}