@import url('https://fonts.cdnfonts.com/css/aachen-std');
@import url('https://fonts.cdnfonts.com/css/now');

:root {
    --main-bg-color: #f4c8c8;
    --bg-color-2: #062644;
    --contrast-color: #98317f;
    --intermediate-contrast: #73266f;
    --medium-color: #B86B77;
    --black: #05000c;
    --white: #f7f0ef;

    --title: 32px;
    --text: 16px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aachen Std', sans-serif;
    color: white;

    color: var(--black);
    font-size: var(--text);
    font-family: 'Now', sans-serif;
}

body {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

.main::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.main::-webkit-scrollbar-thumb {
    background: var(--intermediate-contrast);
    border-radius: 10px;
}

.main {
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.main > section{
    width: 100vw;
    height: calc(100vh - 70px);
}

.site-section{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.header-logo{
    padding-left: 8%;
}

.header-logo > img{
    height: 45px;
}

.header-hooks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    flex-grow: 1;

}

.header-link{
    color: inherit;
    text-decoration: none;
}

.header-list-element{
    padding: 0 20px;
}

.header-link{
    margin: 0 10px;
    font-size: 16px;
    position: relative;
}

.header-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--contrast-color);

    bottom: -3px;
    left: 0px;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.header-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Presentation */

.text-presentation > span{
    padding-left: 2rem;
    color: var(--contrast-color);
}

.text-presentation > div > p {
    margin: 3rem 0;
}

.presentation{
    font-family: 'Aachen Std', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}

.about-sec-layout{
    display: flex;
    flex-direction: row;
}

.about-sec-layout > div{
    width: 50%;
}

.about-picture-sec{
    margin: 0 0 1rem 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(assets/grafic.png) ;
    background-size: 500px;
    border-radius: 20px;
    height: 100%;
}

.about-picture-sec > span{
    margin-top: 1em;
    font-size: 32px;
    padding: 0 2em;
    color: var(--contrast-color);
    text-align: center;
    font-family: 'Aachen Std', sans-serif;
}

.selfie-pic{
    height: 300px;
    border-radius: 50%;
    display: block;
}

.presentation-but-wrapper{
    width: 100%;
}

.presentation-buttons {
    background: var(--intermediate-contrast);
    color: white;
    font-family: inherit;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 14px;
    border-radius: 0.4em;
    border: none;
    cursor: pointer;
    transition: .2s;
}
  
.presentation-buttons:hover {
    background-color: var(--medium-color);
}
  
.presentation-buttons:active {
    outline: none;
    transform: scale(0.8);
}

/*Cards*/

.card {
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    padding: 0 0 30px 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background: url(assets/assets-card-end.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: 0% 100%;
}

.card-config{
    padding: 30px 0 0 30px;
    background: url(assets/assets-card-end.png);
    background-position: 0% 5%;
}
  
.card-content {
    padding: 2em 3em;
    background: var(--white);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

/* Skills */

.section-title{
    font-size: var(--title);
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Aachen Std', sans-serif;
}

.skill-list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    list-style-type: none;
    text-align: center;
}

.skill-list{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.skill-list-element{
    margin: 1rem 0;
}

.skills-icons{
    font-size: 24px;
    margin: 0 0.3rem;
    color: var(--contrast-color);
}

.skill-list-title{
    font-size: 20px;
    padding-left: 0.6rem;
}

.github-achievments{
    align-self: center;
    margin-top: 4rem;
}

/* Projetos */

.slider{
    width: calc(100% - 20%);
    text-align: center;
    overflow: hidden;
}

.projects-wrapper{
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.projects-wrapper::-webkit-scrollbar {
    width: 5px;      
    height: 10px;      /* width of the entire scrollbar */
}
  
.projects-wrapper::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.projects-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--medium-color);
    border-radius: 15px;
}

.project-section{
    flex-direction: column;
}

.project-card{
    border-radius: 0.8em;
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 3rem;
    margin-bottom: 1rem;
    background-color: var(--white);
    width: calc(90%/3 - 3rem);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 8px -2px;
}

.project-card > h3{
    font-size: 18px;
}

.project-card > p{
    padding: 1rem 1.5rem 1rem;
}

.project-img{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(253,248,211,1) 0%, rgba(229,163,177,1) 100%);
}

.project-button {
    background: var(--contrast-color);
    font-family: inherit;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 14px;
    margin: 0 1rem;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.disabled {
    background-color: #172573;
    color: #ffffff71;
}
  
.project-button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
  
.project-button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.buttons-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    justify-self: flex-end;
}

/* Education */

.section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.education-text{
    width: 50%;
    padding-left: 6%;
}

.education-img{
    width: 100%;
    display: block;
    border: 1rem solid var(--white);
    height: 400px;
    object-fit: cover;
}

.education-sec{
    border-left: 5px solid var(--contrast-color);
    padding-left: 1em;
}

.education-sec:nth-child(2){
    margin: 2em 0;
}

.education-sec-title{
    font-size: 18px;
    
    
}

.education-sec > p{
    margin: 1rem 0;
}

.education-sec > span{
    color: var(--contrast-color);
    font-weight: 550;
}

.lang-box-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    margin-top: 1em;
}

.lang-box:nth-child(2){
    margin: 0 1rem;
}

.lang-box{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 10rem;
    height: 4rem;
    background-color: #062644;
}

.lang-box > span{
    font-size: 14px;
    margin-top: 5px;
}

.progress-bar{
    display: flex;
    width: 85%;
    height: 14px;
    margin: auto 0;
    color: white;
    background-color: white;
}

.ing, .fra, .jap{
    font-size: 12px;
    padding-left: 2px;
    display: block;
    
    height: 100%;
    background-color: var(--intermediate-contrast);
}

.ing{
    width: 75%;
}

.fra{
    width: 30%;
}

.jap{
    width: 20%;
}

.foto-orc{
    width: 40%;
}

.polaroid{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.polaroid > span{
    color: var(--black);
    width: 100%;
    background-color: var(--white);
    height: 3rem;
}

/* Contact Me */
.card-content{
    display: flex;
    align-items: center;
}

.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    padding: 5%;
}

.contact-text > div{
    margin-top: 3em;
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: #010326;
    justify-content: space-evenly;
}

footer > span{
    font-weight: 500;
}

/* Página de currículo */

.main-curriculo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.curriculo-buttons{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.curriculo-buttons > a{
    scale: 1.2;
}

.curriculo{
    height: 120vh;
    width: auto;
    margin-top: 5rem;
}